fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
torch==2.2.0
torchvision==0.17.0
timm
pillow==10.2.0
ultralytics==8.1.2
scikit-learn==1.4.1.post1
fpdf
numpy==1.26.4
pandas==2.2.3
matplotlib==3.10.3
jupyter
reportlab==4.1.0
torchcam
pdf2image
opencv-python==4.9.0.80
